---
import Header from "../astro-components/Header.astro";
import Banner from "../astro-components/Banner.astro";
import Grid1 from "../astro-components/Grid1.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <title>Zallyy | AI Tools</title>
  </head>
  <body>
    <Header />
    <Banner />
    <Grid1 />
  </body>
</html>
