---
import Banner from "../astro-components/Banner.astro";
import Grid1 from "../astro-components/Grid1.astro";
import Headers from "../astro-components/Headers.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <title>Zallyy | AI Tools</title>
  </head>
  <body>
    <Headers />
    <Banner />
    <Grid1 />
  </body>
</html>
