<section class="bg-white">
  <div
    class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
  >
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Your Digital Solution Provider !
        <strong class="font-extrabold text-blue-700 sm:block">
          Grow Today
        </strong>
      </h1>

      <p class="mt-4 sm:text-xl/relaxed">
        We do WebSites, Digital Marketing, Automation & ...
      </p>

      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <link
          href="https://assets.calendly.com/assets/external/widget.css"
          rel="stylesheet"
        />
        <script
          src="https://assets.calendly.com/assets/external/widget.js"
          type="text/javascript"
          async></script>
        <a
          class="block w-full bg-blue-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-blue-700 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
          href=""
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/viveknariya'});return false;"
          >Book a Call</a
        >
      </div>
    </div>
  </div>
</section>
