---
import social from "../assets/Social.jpg";
import website from "../assets/Website.jpg";
---

<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
<section
  id="Services"
  class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2"
>
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
    >
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Brand need a <strong class="text-blue-700">WebSite</strong> !
      </h2>

      <p class="mt-8 text-gray-500 md:mt-4 md:block">
        A website provides a centralized platform for brand presence,
        communication, and engagement, essential for reaching and connecting
        with modern consumers.
      </p>

      <div class="mt-4 md:mt-8">
        <link
          href="https://assets.calendly.com/assets/external/widget.css"
          rel="stylesheet"
        />
        <script
          src="https://assets.calendly.com/assets/external/widget.js"
          type="text/javascript"
          async></script>
        <a
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/viveknariya'});return false;"
          href="#"
          class="inline-block bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring focus:ring-yellow-400"
        >
          Get Free Consultation !
        </a>
      </div>
    </div>
  </div>

  <img alt="" src={website.src} class="h-56 w-full object-cover sm:h-full" />
</section>

<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2">
  <img alt="" src={social.src} class="h-56 w-full object-cover sm:h-full" />
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
    >
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Reach Your Customer With <strong class="text-blue-700"
          >Digital Marketing</strong
        > !
      </h2>

      <p class="mt-8 text-gray-500 md:mt-4 md:block">
        Social media marketing is crucial for reaching customers where they
        spend a significant amount of their time online, fostering brand
        awareness, engagement, and loyalty.
      </p>

      <div class="mt-4 md:mt-8">
        <link
          href="https://assets.calendly.com/assets/external/widget.css"
          rel="stylesheet"
        />
        <script
          src="https://assets.calendly.com/assets/external/widget.js"
          type="text/javascript"
          async></script>
        <a
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/viveknariya'});return false;"
          href="#"
          class="inline-block bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring focus:ring-yellow-400"
        >
          Get Free Consultation !
        </a>
      </div>
    </div>
  </div>
</section>
